@model TutoringProject.Models.Session.Session

@{
    ViewBag.Title = "Create New Session";
}

<h2>Create New Session</h2>

@using (Html.BeginForm("Create", "Session", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Time)
        @Html.TextBoxFor(model => model.Time, new { @class = "form-control", type = "datetime-local" })
        @Html.ValidationMessageFor(model => model.Time)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subject)
        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Subject)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StudentId)
        @Html.DropDownListFor(model => model.StudentId, new SelectList(ViewBag.Students, "Id", "FnameLname"), "Select Student", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentId)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.TutorId)
        @Html.DropDownListFor(model => model.TutorId, new SelectList(ViewBag.Tutors, "Id", "FnameLname"), "Select Tutor", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TutorId)
    </div>



    <button type="submit" class="btn btn-primary">Create</button>
}