@model IEnumerable<TutoringProject.Models.Session.Session>

@{
    ViewBag.Title = "Session List";
}

<h2>Session List</h2>

@if (Session["UserId"] != null && User.IsInRole("Tutor"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Id)</th>
        <th>@Html.DisplayNameFor(model => model.First().Time)</th>
        <th>@Html.DisplayNameFor(model => model.First().Subject)</th>
        <th>@Html.DisplayNameFor(model => model.First().Student)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_Session", item)
    }

</table>
