@model TutoringProject.Models.UserAccount.UserAccount

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Student"))
{
    <h4>Upload Assignment</h4>

    using (Html.BeginForm("UploadSubmission", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="file">Select file:</label>
            <input type="file" name="file" id="file" class="form-control" required />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Upload</button>
    }

    if (TempData["UploadSuccess"] != null)
    {
        <div class="alert alert-success mt-2">@TempData["UploadSuccess"]</div>
    }
    else if (TempData["UploadError"] != null)
    {
        <div class="alert alert-danger mt-2">@TempData["UploadError"]</div>
    }
   

}
@{ Html.RenderAction("SubmissionGetUploadedFiles", "FileUpload"); }




<p>
    @Html.ActionLink("Back to List", "Index")
</p>
