@model TutoringProject.Models.Student.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Fname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Lname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Email)
        </dd>

     
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
