@model IEnumerable<TutoringProject.Models.Student.Student>


@{
    ViewBag.Title = "Student List";
}

<h2>Student List</h2>


<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Id)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Fname)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Lname)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Email)</th>
        <th>@Html.DisplayNameFor(model => model.First().Birthday)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.Partial("_Student", item)
    }
</table>