@model TutoringProject.Models.Student.Student

<tr>
    <td>@Model.Id</td>
    <td>@Model.UserAccount.Fname</td>
    <td>@Model.UserAccount.Lname</td>
    <td>@Model.UserAccount.Email</td>
    <td>@Model.Birthday</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        <span>
            @using (Html.BeginForm("Delete", "Student", new { id = Model.Id }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-link">Delete</button>
            }
        </span>
    </td>
</tr>