@model TutoringProject.Models.Tutor.Tutor

@{
    ViewBag.Title = "Create New Tutor";
}

<h2>Create New Tutor</h2>

@using (Html.BeginForm("Create", "Tutor", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Fname)
        @Html.TextBoxFor(model => model.Fname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Fname)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lname)
        @Html.TextBoxFor(model => model.Lname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Lname)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Delivery)
        @Html.TextBoxFor(model => model.Delivery, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Delivery)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Salary)
        @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", type = "number", step = "0.01" })
        @Html.ValidationMessageFor(model => model.Salary)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}