@model TutoringProject.Models.UserAccount.UserAccount

@{
    ViewBag.Title = "Tutor Details";
}

<h2>Tutor Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            Sessions
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var session in ViewBag.Sessions)
                {
                    <li>
                        @session.Course.Name - @session.Time
                        @Html.ActionLink("Details", "Details", "Session", new { id = session.Id }, null)
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
