@model TutoringProject.Models.Tutor.Tutor

@{
    ViewBag.Title = "Tutor Details";
}

<h2>Tutor Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Fname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Lname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
