
@model IEnumerable<TutoringProject.Models.Tutor.Tutor>

@{
    ViewBag.Title = "Tutor List";
}

<h2>Tutor List</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Id)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Fname)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Lname)</th>
        <th>@Html.DisplayNameFor(model => model.First().Delivery)</th>
        <th>@Html.DisplayNameFor(model => model.First().Salary)</th>
        <th>@Html.DisplayNameFor(model => model.First().UserAccount.Email)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.Partial("_Tutor", item)
    }
</table>
